@model PresAndoClothesShop.Models.Product

@{
    ViewData["Title"] = "Детайли";
    var returnUrl = Context.Request.Path + Context.Request.QueryString;
}

<h1>Детайли</h1>

<div>
    <h4>Продукт</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Price)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Price)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Category)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Category.Name)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Size)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Size)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Color)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Color)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ImageUrl)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ImageUrl)</dd>
    </dl>
</div>
<div class="d-flex gap-2">
    <form asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" asp-route-returnUrl="@returnUrl" method="post">
        @Html.AntiForgeryToken()
        <button class="btn btn-primary" type="submit">Добави в количката</button>
    </form>
    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@Model.Id">Редакция</a>
    <a class="btn btn-outline-secondary" asp-action="Index">Назад към списъка</a>
</div>
