@model PresAndoClothesShop.Models.Cart
<h1>Cart</h1>
@if (Model.CartItems.Count == 0)
{
    <h3 class="text-center">Your cart is empty.</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th> </th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                var productTotal = item.Product.Price * item.Quantity;
                <tr>
                    <td><img src ="@item.Product.ImageUrl"></img></td>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price.ToString("C")</td>
                    <td>@productTotal.ToString("C")</td>
                    <td></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <td></td>
            <td class="text-right"><strong>Total: </strong></td>
        <td><strong>@Model.GetCartTotal().ToString("C")</strong></td>
        <td></td>
        <td></td>
        </tfoot>
    </table>
    
}